<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

      <script async src="https://www.googletagmanager.com/gtag/js?id=G-8Q8C7HY66B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8Q8C7HY66B');
</script>
    <title>News | Real Estate Institute of Botswana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="viewport"
        content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui" />

    <meta name="theme-color" content="#FCDB5A" />
    <meta name="msapplication-navbutton-color" content="#FCDB5A" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#FCDB5A" />

    <!-- Favicons
		================================================== -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <!-- Critical styles
		================================================== -->
    <link rel="stylesheet" href="css/critical.min.css" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <!-- Load google font
		================================================== -->
    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,500,600,700,800', 'Raleway:100,400,400i,500,500i,700,700i,900']
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDAOCKpBAMYCLBdDSJh5Ahq13iJR1fZvHw"
        type="text/javascript"></script>

    <script id="litespeed-webfont-lib"
        src="https://ninetheme.com/themes/agro/wp-content/plugins/litespeed-cache/assets/js/webfontloader.min.js" async>
        </script>
    <link rel="stylesheet" href="css/style.min.css" type="text/css">
    <script type='text/javascript' src='https://ninetheme.com/themes/agro/wp-includes/js/jquery/jquery.js'
        id='jquery-core-js'></script>
    <script data-optimized="1" src="https://ninetheme.com/themes/agro/wp-content/litespeed/cssjs/d1e4a.js?99cd4">
    </script>




    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>




    </style>




    <style type="text/css" id="wp-custom-css">
        section.related.products {
            margin-top: 80px
        }

        .woocommerce nav.woocommerce-pagination ul {
            border: 0 !important
        }

        .woocommerce nav.woocommerce-pagination ul li a:focus,
        .woocommerce nav.woocommerce-pagination ul li a:hover,
        .woocommerce nav.woocommerce-pagination ul li span.current {
            background: #fff !important;
            color: #8a7e88 !important;
            line-height: 2 !important
        }

        .woocommerce nav.woocommerce-pagination ul li a,
        .woocommerce nav.woocommerce-pagination ul li span {
            line-height: 2 !important
        }

        .woocommerce-tabs h2,
        .related.products h2 {
            font-size: 25px;
            font-weight: 900;
            margin: 0;
            margin-bottom: 30px
        }

        #nt-hero {
            padding-top: 250px;
            padding-bottom: 120px;
            background: #f8f8f8
        }

        .woocommerce.single-product .entry-summary button.button.alt {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding-left: 28px;
            padding-right: 28px;
            line-height: 1 !important;
            font-size: 1.2rem;
            font-family: Raleway, sans-serif;
            background-color: transparent;
            font-weight: 700;
            text-align: center !important;
            text-decoration: none !important;
            text-shadow: none !important;
            text-transform: uppercase;
            letter-spacing: 0;
            color: #4f4a37;
            border: 2px solid #fcdb5a;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: 0;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            user-drag: none;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
            -o-transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
            transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
            min-width: 160px;
            min-height: 45px;
            padding-top: 25px;
            padding-bottom: 14px
        }

        .woocommerce .quantity .qty {
            width: 50px;
            text-align: center;
            border: 2px solid #e5e5e5;
            line-height: 34px;
            min-height: 45px;
            border-radius: 3px
        }

        .woocommerce .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #ededed;
            border-radius: 4px
        }

        .woocommerce-terms-and-conditions-wrapper {
            margin: 25px 0 40px
        }

        .woocommerce-checkout #payment {
            padding: 15px
        }

        .woocommerce-info {
            border-top-color: #52b682
        }

        .woocommerce-info:before {
            color: #52b682
        }

        .woocommerce div.product .woocommerce-tabs ul.tabs {
            padding: 0
        }

        .woocommerce .col2-set .col-1,
        .woocommerce-page .col2-set .col-1 {
            padding: 0
        }

        .woocommerce form.checkout_coupon {
            margin: 2em 0 5em
        }

        .woocommerce table.shop_table {
            border: 1px solid #e5e5e5
        }

        section.related.products a.button {
            min-width: 80px !important
        }

        .woocommerce #reviews #comments ol.commentlist li .comment-text {
            margin: 0 0 0 80px
        }

        .woocommerce #reviews #comments ol.commentlist li img.avatar {
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            width: 60px;
            height: auto;
            background: #e4e1e3;
            border: 1px solid #e4e1e3;
            margin: 0;
            box-shadow: none
        }

        section.related.products .woocommerce ul.products li.product {
            margin: 0 2.8% 2.992em 0;
            padding: 15px
        }

        ul.products li.product {
            padding: 15px !important
        }



        @media only screen and (max-width:992px) {

            #top-bar .top-bar__logo img,
            #top-bar .top-bar__logo img {
                height: 90px;
                width: auto
            }

            .top-bar--style-2 .top-bar__navigation a:not(.custom-btn),
            .top-bar__contacts {
                color: #fff !important
            }

            .top-bar--style-2 .top-bar__navigation li.li-cart {
                margin-top: 40px;
                margin-left: 0
            }

            .top-bar--style-2 .top-bar__navigation li.li-profile {
                margin-top: 40px;
                margin-right: 10px;
                margin-left: 5px
            }

            .top-bar--style-2 .top-bar__navigation-toggler--dark.is-active span,
            .top-bar--style-2 .top-bar__navigation-toggler--dark.is-active span:after,
            .top-bar--style-2 .top-bar__navigation-toggler--dark.is-active span:before {
                background-color: #fbfbfb
            }
        }

        @media only screen and (min-width:992px) {
            .top-bar__navigation .submenu a {
                color: #fff !important
            }
        }

        #gallery-set a {
            padding: 5px;
            font-size: 1.7rem;
            font-weight: 900;
            font-family: Raleway, sans-serif;
            text-decoration: none;
            letter-spacing: 0;
            color: #22282d;
            text-transform: uppercase
        }

        #gallery-set a.selected,
        #gallery-set a:hover {
            color: #bfa443
        }

        .woocommerce ul.product_list_widget li a {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 5px
        }

        .nt-breadcrumbs a.breadcrumbs__link {
            color: #fff
        }

        .nt-breadcrumbs li.active {
            color: #fcdb5a
        }

        .nt-breadcrumbs li.bitem {
            color: #fff
        }
    </style>


    <style type="text/css" id="agro-dynamic-css" title="dynamic-css" class="redux-options-output">
        .nt-breadcrumbs,
        .nt-breadcrumbs a {
            color: #fff;
            font-display: swap
        }

        h1 {
            font-display: swap
        }

        h2 {
            font-display: swap
        }

        h3 {
            font-display: swap
        }

        h4 {
            font-display: swap
        }

        h5 {
            font-display: swap
        }

        h6 {
            font-display: swap
        }

        p {
            font-display: swap
        }

        body a {
            font-display: swap
        }

        body {
            font-display: swap
        }

        #btn-to-top {
            background: #fcd641
        }

        .top-bar__logo img,
        .top-bar__logo img {
            height: 130px;
            width: 100px
        }

        header.topbar-fixed.fixed .has-sticky-logo .sticky-logo,
        header.topbar-fixed.fixed .has-sticky-logo .sticky-logo {
            height: 71px;
            width: 71px
        }

        .top-bar .navigation li a:not(.custom-btn),
        .top-bar__navigation .submenu a,
        .top-bar__navigation .submenu a {
            font-display: swap
        }

        #top-bar.top-bar .top-bar__navigation .submenu a {
            font-display: swap
        }

       

        #nt-index .hero-container {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: right center;
            background-image: url('img/news/banner.jpg');
            background-size: cover
        }

        #nt-index .hero-container.hero-overlay:before {
            background: rgba(0, 0, 0, .5)
        }

        #nt-index .nt-hero-title {
            font-display: swap
        }

        #nt-index .nt-hero-subtitle {
            font-display: swap
        }

        #nt-index .nt-hero-description {
            font-display: swap
        }

        #nt-single .hero-container {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: left top;
            background-image: url('img/news/banner.jpg');
            background-size: cover
        }

        #nt-single .hero-container.hero-overlay:before {
            background: rgba(0, 0, 0, .5)
        }

        #nt-single .nt-hero-title {
            font-display: swap
        }

        #nt-single .nt-hero-subtitle {
            font-display: swap
        }

        #nt-single .nt-hero-description {
            font-display: swap
        }

        #nt-archive .hero-container {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: center center;
            background-image: url('img/news/banner.jpg');
            background-size: cover;
        }

        #nt-archive .hero-container.hero-overlay:before {
            background: rgba(0, 0, 0, .5)
        }

        #nt-archive .nt-hero-title {
            font-display: swap
        }

        #nt-archive .nt-hero-subtitle {
            font-display: swap
        }

        #nt-archive .nt-hero-description {
            font-display: swap
        }

        #nt-fraud-alert .hero-container {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: right center;
            background-image: url('https://ninetheme.com/themes/agro/wp-content/uploads/2019/02/9-4.jpg');
            background-size: cover
        }

        #nt-fraud-alert .hero-container.hero-overlay:before {
            background: rgba(0, 0, 0, .5)
        }

        #nt-fraud-alert .nt-hero-title {
            font-display: swap
        }

        #nt-fraud-alert .nt-hero-subtitle {
            font-display: swap
        }

        #nt-fraud-alert .nt-hero-description {
            font-display: swap
        }

        #nt-fraud-alert .error-content-title {
            font-display: swap
        }

        #nt-fraud-alert .error-content-desc {
            font-display: swap
        }

        #nt-search .hero-container {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: center center;
            background-image: url('https://ninetheme.com/themes/agro/wp-content/uploads/2019/02/4-7.jpg');
            background-size: cover
        }

        #nt-search .hero-container.hero-overlay:before {
            background: rgba(0, 0, 0, .5)
        }

        #nt-search .nt-hero-title {
            font-display: swap
        }

        #nt-search .nt-hero-subtitle {
            font-display: swap
        }

        #nt-search .nt-hero-description {
            font-display: swap
        }

        .woocommerce-page #nt-hero {
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: left center;
            background-image: url('img/top_bar_bg-1.jpg');
            background-size: cover
        }

        .woocommerce-page #nt-hero .nt-hero-title {
            color: #fff;
            font-display: swap
        }

        .woocommerce-page #nt-hero .nt-hero-subtitle {
            color: #fff;
            font-display: swap
        }

        .woocommerce-page #nt-hero .nt-hero-description {
            color: #fff;
            font-display: swap
        }

        .single-product #nt-hero {
            background-image: url('https://ninetheme.com/themes/agro/wp-content/uploads/2019/02/7-3.jpg')
        }

        .single-product #nt-hero .nt-hero-title {
            color: #fff;
            font-display: swap
        }

        .single-product #nt-hero .nt-hero-subtitle {
            color: #fff;
            font-display: swap
        }

        .single-product #nt-hero .nt-hero-description {
            color: #fff;
            font-display: swap
        }
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1549793151592 {
            padding-bottom: 124px !important
        }

        .vc_custom_1549793151603 {
            padding-bottom: 84px !important
        }

        .vc_custom_1549793151603 {
            padding-bottom: 54px !important
        }

        .vc_custom_1549423946303 {
            background-image: url('img/about/header.jpg') !important
        }
    </style><noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1
            }
        </style>
    </noscript>

</head>

<body
    class="page-template page-template-custom-page page-template-custom-page-php page page-id-333 theme-agro nt-shortcode- woocommerce-no-js Agro nt-version-1.2.8 nt-body-not-custom-page wpb-js-composer js-comp-ver-6.1 vc_responsive">
    <div id="nt-preloader" class="preloader">
        <div class="loader06"></div>
    </div>

    {{> header active_news=true }}

    <div id="app" class="nt-theme-wrapper">
        <main role="main">
            <div class="agro-section-wrapper">
                <div class="nt-column">
                    <div class="nt-shortcode-wrapper ">
                        <div id="hero" class="nt-shortcode-hero jarallax section_5f97f7bf94c47 vc_custom_1549423946303"
                            data-speed="0.7" data-img-position="50% 80%" data-res-css="       ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-lg-7 ">
                                        <h1 class="__title"><span>REIB PUBLICATIONS &</span> NEWS</h1>
                                        <p class="nt-hero-desc">Real Estate Institute of Botswana (REIB) ke mokhatlo
                                            o ngolisitsoeng ka tlase ho Societies ACT ea Botswana.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nt_clearfix"></div>
            <div class="agro-section-wrapper">
                <div class="nt-column">
                    <div class="nt-shortcode-wrapper ">
                        <section class="section">
                            <div class="container">
                                <!-- start posts -->

                                <h3>Latest News</h3>

                                <div class="posts posts--style-1">
                                    <div class="__inner">
                                        <div class="row">


                                            {{#each news}}
                                            <div class="col-12 col-sm-6 col-lg-4">
                                                <div class="__item __item--preview">
                                                    <figure class="__image">
                                                        <img class="lazy" src="img/blank.gif"
                                                            data-src="{{this.imageUrl}}" alt="demo" />
                                                    </figure>

                                                    <div class="__content">


                                                        <h3 class="__title h5">
                                                            <p>{{this.title}}</p>
                                                        </h3>

                                                        <h3 style="font-size: 10px;" class="__title h6">
                                                            <p>{{this.description}}</p>
                                                        </h3>

                                                        <p>
                                                            <a target="_blank" href="{{this.facebookLink}}">Visit
                                                                Post</a>
                                                        </p>
                                                    </div>

                                                    <span class="__date-post"
                                                        style="background-color: white; color: #131212;">
                                                        <strong><i class='far fa-calendar-alt' 
                                                                style='font-size:18px, margin-top:10px,color: #F6700D;'></i></strong>{{this.date}}</span>
                                                </div>
                                            </div>


                                            {{/each}}



                                        </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="nt_clearfix"></div>
        </main>

        {{> footer }}

    </div>

    <div id="btn-to-top-wrap">
        <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
    </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/html" id="wpb-modifications"></script>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript' id='contact-form-7-js-extra'>
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/ninetheme.com\/themes\/agro\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type='text/javascript' id='woocommerce-js-extra'>
        var woocommerce_params = {
            "ajax_url": "\/themes\/agro\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/themes\/agro\/?wc-ajax=%%endpoint%%"
        };
    </script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        var wc_cart_fragments_params = {
            "ajax_url": "\/themes\/agro\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/themes\/agro\/?wc-ajax=%%endpoint%%",
            "cart_hash_key": "wc_cart_hash_ac60a7632f5be8cb333ec5100d606925",
            "fragment_name": "wc_fragments_ac60a7632f5be8cb333ec5100d606925",
            "request_timeout": "5000"
        };
    </script>
    <script type="text/javascript" src="js/map.js"></script>

    <script data-optimized="1" src="https://ninetheme.com/themes/agro/wp-content/litespeed/cssjs/21af6.js?e0d23">
    </script>
</body>

</html>